@import '@/antd/dist/antd.css';

@import "@/highlight.js/styles/a11y-light.css";


.divide {
    /*border-bottom: 3px  #FE6B8B solid;*/
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    /*width: 30px;*/
}

.divide.vertical {
    margin: 0 40px;
    width: 3px;
    height: 40px;
}


.page {
    padding: 20px 160px;
}

.page a {
    color: #FE6B8B;
}

pre.code {
    margin: 0 auto;
    padding: 20px 40px;
}