@import '@/antd/dist/antd.css';

ul,ol{list-style:none; }


.divide {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.divide.vertical {
    margin: 0 40px;
    width: 3px;
    height: 40px;
}

.page {
    padding: 20px 160px;
}

.page a {
    color: #FE6B8B;
}

pre.code {
    margin: 0 auto;
    padding: 20px 40px;
}

.MuiButton-containedPrimary{
    /*background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);*/
}

.MuiButton-containedPrimary .MuiButton-label{
    color:rgba(255,255,255,0.9);
}